* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blue;
  color: white;
  font-family: sans-serif;
}

.movies-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  padding: 10px;
}

.movie-item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
  border: 2px solid red;
}

.poster {
  width: 200px;
}

.movie-form {
  width: 70%;
}

.search-btn {
  width: 100px;
  height: 40px;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 25px;
}

#searchInput {
  height: 40px;
  font-size: 25px;
  width: 80%
}